.box {
    height: 100px;
    width: 100px;
    position: absolute;
}

#blue {
    background-color: rgba(0, 0, 255, 0.7);
    z-index: 1;
}

#red {
    background-color: red;
    left: 50%;
    margin-left: -50px;
}